# --- Папки с библиотеками (УДАЛЯЕМ) ---
.venv/
venv/
node_modules/

# --- Системные файлы и кеш ---
__pycache__/
*.py[cod]
.DS_Store

# --- Настройки редактора ---
.vscode/
*.swp

# --- Лишние программы ---
ngrok*
